$size-Mobile: 375px;
$size-Desktop: 1440px;
$size-Text: 15px;


$color-Maintext: hsl(236, 13%, 42%);
$color-h2: hsl(35, 77%, 62%);
$color-Button: hsl(5, 85%, 63%);

$color-Background: hsl(36, 100%, 99%);
$color-Buttontext: hsl(233, 8%, 79%);
$color-h1: hsl(240, 100%, 5%);

