@use './variables';

a {
  text-decoration: none;
  color: variables.$color-Maintext;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  color: variables.$color-h1;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  color: variables.$color-h2;
}

.button {
  appearance: none;
  background-color: variables.$color-Button;
  text-transform: uppercase;
  color: variables.$color-Background;
  border: none;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  width: fit-content;
}
