

#root {
  #headline {
    img {
      width: 100px;
    }
    article {
      height: fit-content;
      display: flex;
      justify-content: space-between;
      border: 1px solid red;

      h1 {
        width: 48%;
        line-height: 3rem;
        margin: auto 0;
      }
      section {
        width:48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
