@use './variables';
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-VariableFont_slntwght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 17px;

  color: variables.$color-Maintext;
  background-color: variables.$color-Background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

 
}
