#root {
  

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 8%;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 40%;
      list-style: none;
    }
    
  }
}
