@use 'removeAgentStyling';

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$color-background-white: hsl(0, 0%, 100%);
$color-cardText: hsl(270, 3%, 87%);
$color-bodyText: hsl(278, 68%, 11%);
$color-inputPlaceholder: hsl(281, 9%, 41%);
$color-error: hsl(0, 100%, 66%);
$color-border: hsl(270, 3%, 87%);
$color-activeBoxBackground: hsl(249, 99%, 64%);
$color-disabledBoxBackground: hsl(249, 90%, 81%);
$border-radius: 5px;
$width-card-container: 375px;
$height-card-container: 250px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-size: 18px;
  color: $color-bodyText;
  font-family: 'Space Grotesk', sans-serif;
}

label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

input {
  border: 1px solid $color-border;
  border-radius: $border-radius;
  outline: none;
  padding: 0.5rem;

  width: 100%;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  color: $color-inputPlaceholder;

  &:focus {
    border-color: purple;
  }

  &:invalid {
    border-color: red;
  }
}

button {
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: $border-radius;
  background-color: $color-bodyText;
  color: $color-background-white;

  transition-property: background-color;
  transition-duration: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-activeBoxBackground;
  }

  &:active {
    transform: scale(0.99);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $color-disabledBoxBackground;
    transform: none;
  }
  &:enabled {
    background-color: $color-activeBoxBackground;
  }
}

.header {
  background-image: url(../../resources/images/bg-main-mobile.png);
  background-origin: border-box;
  background-size: cover;
}

.card-container {
  height: $height-card-container;
  width: $width-card-container;
  padding: 1rem;
  margin: 0 auto;
  color: $color-cardText;

  position: relative;

  .card-back-container {
    position: absolute;
    right: 1rem;
    top: 2rem;

    p {
      position: absolute;
      top: 4.2rem;
      right: 2.2rem;
    }
  }

  .card-front-container {
    position: absolute;
    left: 1rem;
    bottom: -2.5rem;

    .card-logo {
      position: absolute;
      top: 1rem;
      left: 1rem;

      width: 4.5rem;
      height: auto;
    }

    .card-details-on-card {
      position: absolute;
      top: 5rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > p {
        font-size: 1.3rem;
        letter-spacing: 0.15rem;
      }

      & > div {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
      }
    }
  }

  .card-back,
  .card-front {
    width: calc($width-card-container - 5rem);
  }
}

.info-container {
  height: 250px;
  width: 375px;
  padding: 1rem;
  margin: 4rem auto;
}

.form-section {
  position: relative;
  margin-bottom: 1rem;
}

.other-info {
  display: flex;

  .expire-date {
    flex: 1;
    margin-right: 1rem;

    div {
      display: flex;
      justify-content: space-between;

      input {
        width: 45%;
      }
    }
  }

  .cvc {
    flex: 1;
  }
}

.confirm-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  img {
    width: 5rem;
    margin: 2rem 0;
  }

  h2,
  p {
    margin-bottom: 2rem;
  }

  p {
    color: $color-inputPlaceholder;
  }
}

.error-message {
  font-size: 0.6rem;
  color: $color-error;

  position: absolute;
}

.invalid-input {
  border-color: $color-error;
}

.hide-content {
  display: none;
}

@media only screen and (min-width: 1124px) {
  $width-card-container: 450px;
  $height-card-container: calc(450px / (375px / 250px));
  label {
    margin-bottom: 1rem;
  }
  .desktop-layout {
    display: flex;

    .header {
      height: 100vh;
      flex: 1;
    }
    .desktop-layout-cardinfo {
      flex: 2;
    }
  }

  .card-container {
    top: 50%;
    right: -5rem;

    .card-back-container {
      right: -7rem;

      p {
        top: 5.5rem;
        right: 2.5rem;
      }
    }

    .card-front-container {
      left: 2rem;
      top: -80%;

      .card-logo {
        top: 1.5rem;
        left: 1.5rem;

        width: 5rem;
      }

      .card-details-on-card {
        top: 7rem;
        width: 100%;
        & > p {
          font-size: 1.5rem;
          letter-spacing: 0.2rem;
        }

        & > div {
          font-size: 0.9rem;
        }
      }
    }

    .card-back,
    .card-front {
      width: calc($width-card-container - 5rem);
    }
  }

  .info-container {
    height: 100vh;
    margin-top: calc((100vh - 25rem) / 2);
  }

  .form-section {
    margin-bottom: 2rem;
  }
}
